Repository Team-Tokkit/Tokkit-Server-Admin, pull requests merged in 2025-06, with the labels that each got.

#49 Feat: 관리자 로그인, 로그아웃 백엔드 구현 및 API
  build.gradle
  src/main/java/dev/admin/admin/controller/AdminAuthController.java
  src/main/java/dev/admin/admin/dto/request/LoginRequestDto.java
  src/main/java/dev/admin/admin/dto/response/AdminInfoResponse.java
  src/main/java/dev/admin/admin/dto/response/JwtDto.java
  src/main/java/dev/admin/admin/dto/response/JwtPayload.java
  src/main/java/dev/admin/admin/entity/Admin.java
  src/main/java/dev/admin/admin/entity/Role.java
  src/main/java/dev/admin/admin/filter/JwtAuthenticationFilter.java
  src/main/java/dev/admin/admin/repository/AdminRepository.java
  src/main/java/dev/admin/admin/repository/RedisTokenRepository.java
  src/main/java/dev/admin/admin/repository/TokenRepository.java
  src/main/java/dev/admin/admin/security/AdminDetails.java
  src/main/java/dev/admin/admin/security/AdminDetailsService.java
  src/main/java/dev/admin/admin/service/command/AdminAuthCommandService.java
  src/main/java/dev/admin/admin/utils/JwtUtil.java
  src/main/java/dev/admin/global/apiPayload/code/status/ErrorStatus.java
  src/main/java/dev/admin/global/config/RedisConfig.java
  src/main/java/dev/admin/global/config/SecurityConfig.java
Labels: CHORE, REFACTOR, SECURITY

#60 :bug: Fix: redis config
  src/main/java/dev/admin/global/config/RedisConfig.java
Labels: FIX

#63 :bug: Fix: Cookie에 CrossDomain을 허용
  src/main/java/dev/admin/admin/controller/AdminAuthController.java
Labels: FIX

#68 Release/v1.0.8
  .github/workflows/release_note.yml
Labels: RELEASE

#69 ♻️ Refactor: refactor unified logs
  .github/workflows/release_note.yml
  src/main/java/dev/admin/admin/service/command/AdminAuthCommandService.java
  src/main/java/dev/admin/global/apiPayload/code/status/ErrorStatus.java
  src/main/java/dev/admin/unified_logs/dto/response/UnifiedLogResponseDto.java
  src/main/java/dev/admin/unified_logs/entity/UnifiedLog.java
  src/main/java/dev/admin/unified_logs/repository/UnifiedLogRepository.java
  src/main/java/dev/admin/unified_logs/service/query/UnifiedLogQueryServiceImpl.java
Labels: FEAT

#70 Release/v1.0.9
  .github/PULL_REQUEST_TEMPLATE/feature_template.md
  .github/PULL_REQUEST_TEMPLATE/release_template.md
  src/main/java/dev/admin/admin/controller/AdminAuthController.java
  src/main/java/dev/admin/admin/service/command/AdminAuthCommandService.java
  src/main/java/dev/admin/global/apiPayload/code/status/ErrorStatus.java
  src/main/java/dev/admin/unified_logs/dto/response/UnifiedLogResponseDto.java
  src/main/java/dev/admin/unified_logs/entity/UnifiedLog.java
  src/main/java/dev/admin/unified_logs/repository/UnifiedLogRepository.java
  src/main/java/dev/admin/unified_logs/service/query/UnifiedLogQueryServiceImpl.java
Labels: RELEASE
